@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\000033}}
body {
  margin: 0px;
  padding: 0px;
  background-size: 306%;
  background-position: 57% 39%;
  background-size: 250%;
  background-position: 63% 0%;
  color: white;
  background-color: #3e3e40;
<<<<<<< HEAD
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\0000315}}
body a, body p a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\0000321}}
body p.subheading {
  color: gray;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\0000326}}
body .page {
  /*width:100vw;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\0000333}}
body .nav, body .pagination, body .carousel, body .panel-title a {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\0000335}}
body div.section_view, body div.front_view {
  /**/
  min-height: 80vh;
  bottom: 0;
  left: 0;
  right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\0000342}}
body div.topbar {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #000000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\0000349}}
body .label-source, body .label-subject {
  background: none;
  font-weight: normal;
  font-size: 14px;
  font-family: 'alright_sansregular';
  color: #ffffff;
  padding-left: 0;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\0000359}}
body .label-subject {
  color: #00a651;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\0000363}}
body .sourceTitle .label-subject {
  font-family: 'alright_sansbold';
  font-size: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\0000369}}
body .col-centered {
  float: none;
  margin: 0 auto;
}
=======
  height: 100%; }
  body a, body p a {
    color: white;
    text-decoration: underline;
    font-weight: bold; }
  body .page {
    /*width:100vw;*/ }
  body .nav, body .pagination, body .carousel, body .panel-title a {
    cursor: pointer; }
  body div.section_view, body div.front_view {
    /**/
    min-height: 80vh;
    bottom: 0;
    left: 0;
    right: 0; }
  body div.topbar {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #000000; }
  body .label-source, body .label-subject {
    background: none;
    font-weight: normal;
    font-size: 14px;
    font-family: 'alright_sansregular';
    color: #ffffff;
    padding-left: 0;
    white-space: nowrap; }
  body .label-subject {
    color: #00a651; }
  body .custom-section-label {
    color: #ffffff;
    margin-top: 10px;
    display: block; }
  body .sourceTitle .label-subject {
    font-family: 'alright_sansbold';
    font-size: 18px; }
  body .col-centered {
    float: none;
    margin: 0 auto; }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\0000377}}
.active .navbar, .active .navbar-fixed-top {
  left: 75%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\0000382}}
#topnav.affix, #topnav {
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\0000389}}
#topnav.affix navbar {
  background-color: #3e3e40;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\0000393}}
.navbar {
  background-color: #5c5d5f;
  /*:2px 5px 2px 2px;*/
  padding: 7px 2px;
  /*padding: 0px 2px;*/
  border: 0px;
<<<<<<< HEAD
  height: 60px;
}
=======
  height: 70px; }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003104}}
.share_btn .hideme {
  display: none;
  background-color: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003111}}
.dropdown-toggle {
  background-color: transparent;
  display: none;
  margin: 0px;
  padding: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003120}}
.dropdown-menu a, .dropdown-menu {
  text-decoration: none;
  color: #ffffff;
  background-color: #5c5d5f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003126}}
.row-offcanvas-left.active #topnav, .row-offcanvas-left.active#topnav.affix {
  position: relative;
  left: 75%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003134}}
#canvasnav .sourceTitle .label-source {
  font-family: alright_sansregular;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003139}}
#canvasnav .label-source, #canvasnav .label-subject {
  background: none;
  font-weight: normal;
  font-size: 14px;
  font-family: 'alright_sansregular';
  color: #ffffff;
  padding-left: 0;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003149}}
#canvasnav .label-subject {
  color: #00a651;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003153}}
#canvasnav .sourceTitle h4.list-group-item-heading {
  font-family: alright_sansbold;
  font-size: 18px;
  margin-top: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003166}}
div.navbar a.home_btn {
  text-indent: -9999px;
  background: url("/images/sprite.png") no-repeat -80px 0px;
  width: 60px;
  height: 60px;
  display: block;
  padding: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003176}}
div.navbar a.menu_btn {
  text-indent: -9999px;
  background: url("/images/sprite.png") no-repeat 0px 0px;
  width: 60px;
  height: 60px;
  display: block;
  padding: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003186}}
div.navbar .source-holder {
  padding-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003192}}
div.navbar .section-label {
  /*padding-top:auto;*/
  /*height:55px;
  top: 50%;*/
  margin: auto auto auto -20px;
  /*margin-left:-20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003206}}
div.navbar #logo {
  text-align: right;
  top: 0px;
  padding-top: 0px;
  padding-right: 5px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003223}}
.row-offcanvas {
  position: relative;
  /*
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  
   /*Sams transitions*/
  -webkit-transition: left 0.4s ease;
  -moz-transition: left 0.4s ease;
  -ms-transition: left 0.4s ease;
  -o-transition: left 0.4s ease;
  transition: left 0.4s ease;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003241}}
.row-offcanvas-left
.sidebar-offcanvas {
  left: -75%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003245}}
.row-offcanvas-left.active {
  left: 75%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003249}}
.sidebar-offcanvas {
  position: absolute;
  top: 0;
  width: 75%;
  margin-left: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003258}}
#niiuCarousel .imgSlide {
  margin: 0 auto;
  /*width:100%;
  min-height:100%;
  position:absolute;*/
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003266}}
#niiuCarousel .slider {
  height: 55vh;
  max-height: 500px;
  /*overflow:hidden;
  height:350px;*/
}

/*login background */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003277}}
div.container.page.loginHome {
  background-image: url("../images/login-bg-image.jpg");
  /*width:100vw;*/
  height: 100vh;
}

/*UserPages style*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003284}}
.titlePage, .sectionPage, .articlePage {
  background-image: url();
  color: #ffffff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003290}}
div.front_view, div.section_view {
  min-height: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003296}}
.sectionPage h4.articleTitle {
  font-family: alright_sansbold;
  font-size: 16px;
  margin-top: 5px;
}

@media (min-width: 500) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003305}}
  .sectionPage h4.articleTitle {
    font-family: alright_sansbold;
    font-size: 27px;
    margin-top: 5px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003313}}
.sectionation {
  position: fixed;
  margin: 2px auto;
  bottom: 2px;
  z-index: 100;
  width: 100%;
  text-align: center;
  background-image: radial-gradient(rgba(62, 62, 64, 0), rgba(62, 62, 64, 0.9)), radial-gradient(rgba(62, 62, 64, 0.9), rgba(62, 62, 64, 0));
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003323}}
.sectionation .carousel-indicators {
  z-index: auto;
  bottom: 5px;
  background-image: radial-gradient(rgba(62, 62, 64, 0), rgba(62, 62, 64, 0.9)), radial-gradient(rgba(62, 62, 64, 0.9), rgba(62, 62, 64, 0));
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003334}}
.sectionPage, .articlePage, .menuPage {
<<<<<<< HEAD
  padding-top: 60px;
}
=======
  padding-top: 70px; }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003339}}
.sectionPage {
    /* no slider on sectionPage

    #niiuCarousel .slider img{
    	margin:5px auto;

    }

    #niiuCarousel .slider {
    		max-width:90%;
    }
	*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003342}}
.sectionPage ul.articles.row li {
  overflow: hidden;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003354}}
.sectionPage li.double {
  max-height: 200px;
  height: 35vh;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003360}}
.sectionPage li.single {
  max-height: 250px;
  height: 25vh;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003365}}
.sectionPage ul.articles.row li .intro {
  height: 85px;
  /*overflow:hidden;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003370}}
.sectionPage a:hover, .sectionPage a.articleLink {
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003374}}
.sectionPage .articleLink .article_logo {
  float: left;
  height: 25px;
  margin: 0px 5px 5px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003383}}
.sectionPage li.single, .sectionPage li.double {
  /* min-height: 200px;
   max-height: 200px;*/
  padding: 20px;
  background-position: 50% 5%;
  background-size: cover;
  border-bottom: 1px solid #000;
  border-top: 1px solid #707070;
  /*height:30vh;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003393}}
.sectionPage li.double {
  background-position: 50% 30%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003396}}
.sectionPage li.single:last-child, .sectionPage li.double:last-child {
  border-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003401}}
.sectionPage .articleText {
  font-family: 'Andada', serif;
}

/* titlePage */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003424}}
.titlePage {
  color: #ffffff;
  background-repeat: no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003428}}
.titlePage .affix .navbar {
  background-color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003434}}
.titlePage h3 {
  font-size: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003439}}
.titlePage ul.articles li div.article {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003443}}
.titlePage ul.articles li {
  background-color: #3e3e40;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003447}}
.titlePage a.btn.btn-default {
  color: #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003452}}
.titlePage div.topbar {
  height: 100px;
  position: absolute;
  top: 0px;
  border-bottom: none;
  border-bottom-width: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003462}}
.titlePage #niiuCarousel .slider {
  max-height: 500px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003468}}
.titlePage #niiuCarousel .imgSlide {
  margin: 0 auto;
  min-width: 45%;
  position: absolute;
  left: 0px;
  height: 55vh;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003484}}
.articlePage h4.list-group-item-heading {
  font-size: 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003488}}
.articlePage .subheading {
  font-family: 'Andada', serif;
  font-size: 21px;
  font-weight: bold;
<<<<<<< HEAD
  padding: 20px 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003495}}
=======
  text-align: left;
  padding: 20px 0 10px; }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c
.articlePage .articletext {
  font-family: 'Andada', serif;
  font-size: 21px;
  padding: 20px 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003502}}
.articlePage #niiuCarousel .slider {
  /*width:100%;
  
  max-height:500px;
  overflow:visible;*/
  height: auto;
  text-align: center;
  max-height: 100vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003513}}
.articlePage #niiuCarousel .slider img {
  margin: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003527}}
.menuPage .sections li .btn {
  background-color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003533}}
.menuPage .add_custom_section {
  margin-bottom: 20px;
}

/*User Menu*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003545}}
.header {
  top: 0px;
  right: 30px;
  width: 200px;
  bottom: 0px;
  height: 5px;
  font-size: 10px;
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003556}}
.header a .lang {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003560}}
.lang_widget {
  margin: 10px 15px;
}

/*menu */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003567}}
.nav-collapse ul {
  /*width:200px;*/
}

/* 
=================================
niiu-webappv1 Navbar
=================================
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003580}}
li#searchBar {
  padding: 0 60px;
  margin-bottom: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003585}}
li#searchBar input::-moz-placeholder {
  color: #8a8a8a;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003589}}
li#searchBar:after {
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003593}}
li#searchBar input {
  background: none;
  border: 1px solid #8a8a8a;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  height: 46px;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003603}}
.mm-ismenu {
  background: #5c5d5f;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003608}}
#niiuAppmenu {
  padding-top: 50px;
  background: #5c5d5f;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003614}}
#niiuAppmenu li a {
  font-size: 20px;
  font-family: alright_sansregular;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003620}}
#niiuAppmenu li a:before {
  content: "";
  display: inline-block;
  position: relative;
  margin-right: 15px;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003628}}
#niiuAppmenu li a.mHome:before {
  background: url("../images/icons/home.png") no-repeat top center;
  height: 32px;
  width: 32px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003634}}
#niiuAppmenu li a.mSources:before {
  background: url("../images/icons/sources.png") no-repeat top center;
  height: 32px;
  top: 4px;
  width: 32px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003641}}
#niiuAppmenu li a.mFavorite:before {
  background: url("../images/icons/favs.png") no-repeat top center;
  height: 32px;
  width: 32px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003647}}
#niiuAppmenu li a.mSettings:before {
  background: url("../images/icons/settings.png") no-repeat top center;
  height: 32px;
  width: 32px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003653}}
#niiuAppmenu li a.mHelp:before {
  background: url("../images/icons/help.png") no-repeat top center;
  height: 32px;
  width: 32px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003659}}
#niiuAppmenu li a.mFeedback:before {
  background: url("../images/icons/feedback.png") no-repeat top center;
  height: 32px;
  width: 32px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003665}}
.mm-menu .mm-list > li:after {
  border-color: #707070;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003669}}
.mm-list > li > a, .mm-list > li > span {
  padding: 20px 10px 20px 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003672}}
.mm-list {
  padding-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003676}}
#niiuAppmenu li a.selectedSource {
  background: #4b4c4d;
  border-bottom: 1px solid #636363;
  padding: 10px 5px 10px 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003682}}
#niiuAppmenu li a.selectedSource:before {
  display: flex;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003686}}
#niiuAppmenu li a.selectedSource:last-child {
  border-bottom: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003692}}
.footer {
  color: #ffffff;
  padding: 2px;
  bottom: 0px;
  text-align: center;
  border-top: 1px solid white;
  color: white;
  font-size: 9px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003702}}
.butterfly {
  width: 70px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003710}}
.butterfly.for-overlay {
  opacity: .3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003714}}
.white-headline {
  text-align: center;
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 500;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003722}}
input.required {
  background-color: #ffffff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003727}}
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003732}}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003737}}
.jumbotron {
  background-color: transparent;
  border-radius: 0px;
  border-width: 0px;
  font-size: 14px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003745}}
.jumbotron p {
  font-weight: 200;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003748}}
.jumbotron p .heavier {
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003754}}
.jumbotron p.lead {
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003758}}
.jumbotron .btn-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003763}}
.jumbotron .btn {
  font-size: 10px;
}

/* end jumbotron*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003770}}
button, button.btn, a.btn {
  width: 100%;
  border-radius: 0px;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003776}}
.btn {
  width: 100%;
  text-align: center;
  font-size: 10px;
  /*background-color: transparent;*/
  border-radius: 0px;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003785}}
.btn.facebook {
  background-color: #3b5998;
  border-width: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003790}}
.btn.login {
  background-color: #47a447;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003795}}
.btn.transparent {
  background-color: transparent;
  border: 2px solid white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003800}}
.btn.transparent:hover, .btn-success.btn-transparent:hover, .btn-active.btn-transparent:hover {
  background-color: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003804}}
.login-wrapper {
  padding: 30px;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003809}}
.login-wrapper .login-header {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003813}}
.login-wrapper h3 {
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003817}}
.login-wrapper .error {
  color: #f51226;
  text-align: center;
  font-size: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003826}}
.form-group input {
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  color: white;
  text-align: center;
}

 /* white seemed a bit to bright to me
::-webkit-input-placeholder {
   color: #fff !important;
}

:-moz-placeholder { /* Firefox 18- /
   color: #fff !important;  
}

::-moz-placeholder {  /* Firefox 19+ /
   color: #fff !important;  
}

:-ms-input-placeholder {  
   color: #fff !important;  
}

input[placeholder], [placeholder], *[placeholder] {
color: white;
}
/*

input.password {
	letter-spacing: 6px;
}

.footer {
	text-align: center;
	border-top: 0px solid white;
	color: white;
	font-size: 8px;
	padding-top: 25px;

}


/* CSS transitions for page animations */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003872}}
.container.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*	background-image: url('../images/login-bg-image.jpg');
  	background-size: 306%;
  	background-position: 57% 39%;
  	background-size: 250%;
  	background-position: 63% 0%;*/
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003884}}
.page.email-login, .page.registration {
  background: rgba(0, 0, 0, 0.45);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003890}}
.page.ng-enter {
   /* -webkit-animation:slideInRight 0.7s both ease-in;
	-moz-animation:slideInRight 0.7s both ease-in;
	animation:slideInRight 0.7s both ease-in;  */
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 0.5s;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 0.5s;
  animation: fadeIn ease-in 0.5s;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

/*
.titlePage.article_row.ng-enter {

	   opacity:0;  
    -webkit-animation:fadeIn ease-in 4s;  
    -moz-animation:fadeIn ease-in 4s;
    animation:fadeIn ease-in 4s;
	}
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003919}}
.page.ng-leave {
  -webkit-animation: slideOutLeft 0.3s both ease-in;
  -moz-animation: slideOutLeft 0.3s both ease-in;
  animation: slideOutLeft 0.3s both ease-in;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003925}}
.page.backswipe.ng-leave, .page.articlePage.ng-leave {
  -webkit-animation: slideOutRight 0.3s both ease-in;
  -moz-animation: slideOutRight 0.3s both ease-in;
  animation: slideOutRight 0.3s both ease-in;
}

/*
.login-home.ng-enter {  
    -webkit-animation:scaleUp 0.5s both ease-in;
	-moz-animation:scaleUp 0.5s both ease-in;
	animation:scaleUp 0.5s both ease-in;  
}

.login-home.ng-leave {  
    -webkit-animation:scaleDown 0.2s both ease-in;
	-moz-animation:scaleDown 0.2s both ease-in;
	animation:scaleDown 0.2s both ease-in;  
}

.login-email.ng-enter {
	-webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;
}

.login-email.ng-leave {  
   -webkit-animation:slideOutRight 0.5s both ease-in;
    -moz-animation:slideOutRight 0.5s both ease-in;
    animation:slideOutRight 0.5s both ease-in; 
}
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003956}}
.page.ng-leave {
  z-index: 9999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003957}}
.page.ng-enter {
  z-index: 8888;
}

@-webkit-keyframes fadeIn {
  /* line 960, development.scss */
  from {
    opacity: 0;
  }

  /* line 960, development.scss */
  to {
<<<<<<< HEAD
    opacity: 1;
  }
}

=======
    opacity: 1; } }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c
@-moz-keyframes fadeIn {
  /* line 961, development.scss */
  from {
    opacity: 0;
  }

  /* line 961, development.scss */
  to {
<<<<<<< HEAD
    opacity: 1;
  }
}

=======
    opacity: 1; } }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c
@keyframes fadeIn {
  /* line 962, development.scss */
  from {
    opacity: 0;
  }

  /* line 962, development.scss */
  to {
<<<<<<< HEAD
    opacity: 1;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\00003964}}
=======
    opacity: 1; } }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c
.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

/* scale up */
@keyframes scaleUp {
  /* line 982, development.scss */
  from {
    opacity: 0.5;
<<<<<<< HEAD
    -webkit-transform: scale(0.1);
  }
}

=======
    -webkit-transform: scale(0.1); } }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c
@-moz-keyframes scaleUp {
  /* line 985, development.scss */
  from {
    opacity: 0.5;
<<<<<<< HEAD
    -moz-transform: scale(0.1);
  }
}

=======
    -moz-transform: scale(0.1); } }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c
@-webkit-keyframes scaleUp {
  /* line 988, development.scss */
  from {
    opacity: 0.5;
<<<<<<< HEAD
    -webkit-transform: scale(0.1);
  }
}

=======
    -webkit-transform: scale(0.1); } }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c
/* scale down */
@keyframes scaleDown {
  /* line 995, development.scss */
  to {
    opacity: 0.3;
<<<<<<< HEAD
    -webkit-transform: scale(0.9);
  }
}

=======
    -webkit-transform: scale(0.9); } }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c
@-moz-keyframes scaleDown {
  /* line 998, development.scss */
  to {
    opacity: 0.3;
<<<<<<< HEAD
    -moz-transform: scale(0.9);
  }
}

=======
    -moz-transform: scale(0.9); } }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c
@-webkit-keyframes scaleDown {
  /* line 1001, development.scss */
  to {
    opacity: 0.3;
<<<<<<< HEAD
    -webkit-transform: scale(0.9);
  }
}

=======
    -webkit-transform: scale(0.9); } }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c
/* slide in from the right */
@keyframes slideInRight {
  /* line 1007, development.scss */
  from {
    transform: translateX(100%);
  }

  /* line 1008, development.scss */
  to {
<<<<<<< HEAD
    transform: translateX(0);
  }
}

=======
    transform: translateX(0); } }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c
@-moz-keyframes slideInRight {
  /* line 1011, development.scss */
  from {
    -moz-transform: translateX(100%);
  }

  /* line 1012, development.scss */
  to {
<<<<<<< HEAD
    -moz-transform: translateX(0);
  }
}

=======
    -moz-transform: translateX(0); } }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c
@-webkit-keyframes slideInRight {
  /* line 1015, development.scss */
  from {
    -webkit-transform: translateX(100%);
  }

  /* line 1016, development.scss */
  to {
<<<<<<< HEAD
    -webkit-transform: translateX(0);
  }
}

=======
    -webkit-transform: translateX(0); } }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c
/* slide out to the right */
@keyframes slideOutRight {
  /* line 1022, development.scss */
  from {
    transform: translateX(0);
  }

  /* line 1023, development.scss */
  to {
<<<<<<< HEAD
    transform: translateX(100%);
  }
}

=======
    transform: translateX(100%); } }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c
@-moz-keyframes slideOutRight {
  /* line 1026, development.scss */
  from {
    -moz-transform: translateX(0);
  }

  /* line 1027, development.scss */
  to {
<<<<<<< HEAD
    -moz-transform: translateX(100%);
  }
}

=======
    -moz-transform: translateX(100%); } }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c
@-webkit-keyframes slideOutRight {
  /* line 1030, development.scss */
  from {
    -webkit-transform: translateX(0);
  }

  /* line 1031, development.scss */
  to {
<<<<<<< HEAD
    -webkit-transform: translateX(100%);
  }
}

=======
    -webkit-transform: translateX(100%); } }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c
/* slide out to the left */
@keyframes slideOutLeft {
  /* line 1038, development.scss */
  from {
    transform: translateX(0);
  }

  /* line 1039, development.scss */
  to {
<<<<<<< HEAD
    transform: translateX(-100%);
  }
}

=======
    transform: translateX(-100%); } }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c
@-moz-keyframes slideOutLeft {
  /* line 1042, development.scss */
  from {
    -moz-transform: translateX(0);
  }

  /* line 1043, development.scss */
  to {
<<<<<<< HEAD
    -moz-transform: translateX(-100%);
  }
}

=======
    -moz-transform: translateX(-100%); } }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c
@-webkit-keyframes slideOutLeft {
  /* line 1046, development.scss */
  from {
    -webkit-transform: translateX(0);
  }

  /* line 1047, development.scss */
  to {
<<<<<<< HEAD
    -webkit-transform: translateX(-100%);
  }
}

=======
    -webkit-transform: translateX(-100%); } }
>>>>>>> 43ca9eaf77bdc0b1b45b0087db1af6fed2dd228c
/*@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-100%); }
}*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/forbiddencolors\/Work\/Projects\/niiu\/niiu-webapp\/app\/styles\/development\.scss}line{font-family:\000031065}}
.page.loading.ng-leave, .page.loading.ng-enter {
  -moz-transition-property: none;
  -webkit-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -webkit-animation: none;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}
