

body {
	margin: 0px;
	padding: 0px;
	
	background-size: 306%;
	background-position: 57% 39%;
	background-size: 250%;
	background-position: 63% 0%;
	color: white;
	background-color:#3e3e40;
	height:100%;

	a, p a {
		color: white;
		text-decoration: underline;
		font-weight: bold;
	}

	p.subheading {
		color: gray;
		text-align: center;
	}

	.page {

	width:100vw;


	}

	.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

	div.section_view, div.front_view { /**/
		min-height: 80vh;
		bottom:0;
		left:0;
		right:0;
	}

	div.topbar {
		height:100px;
		width:100%;
		border-bottom: 1px solid #000000;

	}

	.label-source,.label-subject {
    	background: none;
    	font-weight: normal;
    	font-size: 14px;
    	font-family: 'alright_sansregular';
    	color:#ffffff;
    	padding-left: 0;
    	white-space:nowrap;
    }

    .label-subject {
    	color: #00a651;
    }

    .sourceTitle .label-subject {
		font-family: 'alright_sansbold';
		font-size: 18px; 
	}

	.col-centered{
	    float: none;
	    margin: 0 auto;
	}


}

 .active .navbar, .active .navbar-fixed-top {

	left:75%;
	}

#topnav.affix, #topnav {
    position: fixed;
    top: 0px;
    z-index:100;
    width:100%;
}

#topnav.affix navbar {
    background-color:#3e3e40;
}

.navbar {
	background-color:#3e3e40;
	padding:2px 5px 2px 2px;

	/*padding: 0px 2px;*/
	border:0px;
	height:50px;

}

.share_btn .hideme {
display:none;
background-color:transparent;


}

.dropdown-toggle {
background-color:transparent;
display:none;
margin:0px;
padding:0px;


}

.dropdown-menu a, .dropdown-menu {
text-decoration:none;
color:#ffffff;
background-color:#5c5d5f;
}

.row-offcanvas-left.active #topnav, .row-offcanvas-left.active#topnav.affix {
	position:relative;
	left:75%;
}


div.navbar {
	 a.home_btn {
		 text-indent:-9999px;
		 background: url("/images/sprite.png") no-repeat -80px 0px;
		 width:60px;
		 height:60px;
		 display:block;
		 padding:3px;

	}

	a.menu_btn { 
		 text-indent:-9999px;
		 background: url("/images/sprite.png") no-repeat 0px 0px;
		 width:60px;
		 height:60px;
		 display:block;
		 padding:3px;

	}


    .section-label {
    	padding-top:auto;
		  /*height:55px;
		  top: 50%;*/
		  margin:auto auto auto -20px;
		  /*margin-left:-20px;
		  position: relative;
		  top: 50%;
		  transform: translateY(-50%);*/
				  

    }


    #logo {
    	text-align:right;
    	top:0px;
    	padding-top:0px;
    	padding-right:5px;

    }


}


/*
 * Off Canvas
 * --------------------------------------------------
 */

  .row-offcanvas {
    
    position: relative;
    /*
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    
     /*Sams transitions*/
      -webkit-transition: left 0.4s ease;
  -moz-transition: left 0.4s ease;
  -ms-transition: left 0.4s ease;
  -o-transition: left 0.4s ease;
  transition: left 0.4s ease; 
  
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -75%;
  }

  .row-offcanvas-left.active {
    left: 75%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 75%;
    margin-left: 12px;
  }



#niiuCarousel .imgSlide {
    margin: 0 auto;
    /*width:100%;
    min-height:100%;
    position:absolute;*/
}


#niiuCarousel .slider {
	height:55vh;
	max-height:500px;
	/*overflow:hidden;
	height:350px;*/

}


/*login background */

div.container.page.loginHome {
	background-image: url('../images/login-bg-image.jpg');
	width:100vw;
	height:100vh;
}

/*UserPages style*/
.titlePage, .sectionPage, .articlePage {
background-image:url();
color:#ffffff;

}

div.front_view, div.section_view {
min-height: 300px;
	}

.sectionPage {


	ul.articles.row li    {
		overflow: hidden;
		
	    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
	    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
	    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
	    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
	    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1)));
	    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  
	}

	li.double {
	max-height: 200px;
	height: 35vh;
	overflow:hidden;

	}
	li.single {
	max-height:250px;
	height:25vh;
	overflow:hidden;
	}
	ul.articles.row li .intro {
		height:85px;
		/*overflow:hidden;*/
	}

	a:hover, a.articleLink {
		color:#ffffff;
	}

	h4.articleTitle {
		font-family: alright_sansbold;
		font-size: 23px;
		margin-top: 5px;
	}

	li.single, li.double {
	 /* min-height: 200px;
	  max-height: 200px;*/
	  padding: 20px;  
	  background-position: 50% 5%;
	 background-size:cover;
	 border-bottom: 1px solid #000;
	  border-top: 1px solid #707070;
	  /*height:30vh;*/
	}
	li.double {
		background-position: 50% 30%;
	}
	li.single:last-child, li.double:last-child {
	  border-bottom: 0;
	}


	.articleText {
      font-family: 'Andada', serif;
    }

    /* no slider on sectionPage

    #niiuCarousel .slider img{
    	margin:5px auto;

    }

    #niiuCarousel .slider {
    		max-width:90%;
    }
	*/



}



/* titlePage */
.titlePage {
color:#ffffff;
background-repeat:no-repeat;

	.affix .navbar {
		background-color:transparent;

	} 


	h3 {
	font-size:30px;

	}

	ul.articles li div.article {
		overflow:hidden;
	} 

	ul.articles li {
		background-color:#3e3e40;
	}

	a.btn.btn-default {
		color:#cccccc;
		}


	div.topbar {
		height:100px;
		position:absolute;
		top:0px;
		border-bottom: none;
		border-bottom-width: 0px;


	}

	#niiuCarousel .slider {
	max-height:500px;

	}


	#niiuCarousel .imgSlide {
    margin: 0 auto;
    min-width:45%;
    position:absolute;
    left:0px;
    height:55vh;

	}
	
 
 
}


.articlePage {

	h4.list-group-item-heading {
          font-size: 36px;
        }

     .subheading{
          font-family: 'Andada', serif;
          font-size: 21px;
          font-weight: bold;
          padding:20px 0 10px;
        }

      .articletext{
          font-family: 'Andada', serif;
          font-size: 21px;
          padding:20px 20px;
        }


	#niiuCarousel .slider {
		/*width:100%;
		
		max-height:500px;
		overflow:visible;*/
		height:auto;
		text-align: center;
		max-height:100vh;

	}

	#niiuCarousel .slider img{
    	margin:auto;

    }





}


.menuPage {

	.sections li .btn{
		background-color:transparent;


	}

	.add_custom_section {
		margin-bottom: 20px;

	}



}



/*User Menu*/
.header {
	  top: 0px;
	  right: 30px;
	  width:200px;
	  bottom: 0px;
	  height: 5px;
	  font-size: 10px;
	  position: absolute; 
  }

 
  .header a .lang {
    display:inline; 
  }
 
  .lang_widget {
		margin: 10px 15px
  }



/*menu */
.nav-collapse ul {
/*width:200px;*/

}



	/* 
	=================================
	niiu-webappv1 Navbar
	=================================
	*/

	li#searchBar {
		padding:0 60px;
		margin-bottom: 30px;
	}

	    li#searchBar input::-moz-placeholder {
	    	color: #8a8a8a;
	    }

	    li#searchBar:after {
	    	border:0;
	    }

	    li#searchBar input {
	    	background: none;
	    	border:1px solid #8a8a8a;
				-webkit-border-radius: 0px;
	    	-moz-border-radius: 0px;
	    	border-radius: 0px;
	    	height: 46px;
	    	color: #fff;
	    }

	.mm-ismenu {
		background: #5c5d5f;
		color: #fff;
	}

	#niiuAppmenu {
		padding-top:50px;
	  background: #5c5d5f;
	  color: #fff;
	}

	#niiuAppmenu li a {
		font-size: 20px;
		font-family: 'alright_sansregular'

	}

	    #niiuAppmenu li a:before {
	    	content: "";
	      display: inline-block;
	      position: relative;
	      margin-right: 15px;
	      vertical-align: middle;
	    }

	    #niiuAppmenu li a.mHome:before {
	    	background: url("../images/icons/home.png") no-repeat top center;
	      height: 32px;
	      width: 32px;
	    }

	    #niiuAppmenu li a.mSources:before {
	    	background: url("../images/icons/sources.png") no-repeat top center;
	      height: 32px; 
	      top: 4px;
	      width: 32px;
	    }

	    #niiuAppmenu li a.mFavorite:before {
	    	background: url("../images/icons/favs.png") no-repeat top center;
	      height: 32px;
	      width: 32px;
	    }

	    #niiuAppmenu li a.mSettings:before {
	    	background: url("../images/icons/settings.png") no-repeat top center;
	      height: 32px;
	      width: 32px;
	    }

	    #niiuAppmenu li a.mHelp:before {
	    	background: url("../images/icons/help.png") no-repeat top center;
	      height: 32px;
	      width: 32px;
	    }

	    #niiuAppmenu li a.mFeedback:before {
	    	background: url("../images/icons/feedback.png") no-repeat top center;
	      height: 32px;
	      width: 32px;
	    }

	.mm-menu .mm-list > li:after {
		border-color: #707070;
	}

	    .mm-list > li > a, .mm-list > li > span {
	    	padding: 20px 10px 20px 20px;
	    }
	    .mm-list {
	      padding-top:20px;
	    }

	#niiuAppmenu li a.selectedSource{
	  	background: #4b4c4d;
	  	border-bottom: 1px solid #636363;
	  	padding:15px 10px 15px 20px;
		}

	    #niiuAppmenu li a.selectedSource:before {
	    	display: flex;
	    }

	    #niiuAppmenu li a.selectedSource:last-child {
	    	border-bottom: none;
	    }



.footer {
  color:#ffffff;
  padding:2px;
	bottom:0px;
	text-align: center;
	border-top: 1px solid white;
	color: white;
	font-size: 9px;
}

.butterfly {
	width: 70px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.butterfly.for-overlay {
	opacity: .3;
}

.white-headline {
	text-align: center;
	font-size: 10px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-weight: 500;
}

input.required {
	background-color:#ffffff;
}


.jumbotron {
	background-color: transparent;
	border-radius: 0px;
	border-width: 0px;
	font-size: 14px;
	margin-bottom: 0px;
	padding-bottom: 0px;

	p {
		font-weight: 200;
	
		.heavier {
			font-weight: 700;
		}

	}

	p.lead {
		font-size: 14px;
	}

	.btn-wrapper {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.btn {
		font-size: 10px;
	}


} /* end jumbotron*/

button, button.btn, a.btn {
	width: 100%;
	border-radius: 0px;
	text-decoration: none;
}

.btn {
	width: 100%;
	text-align: center;
	font-size: 10px;
	/*background-color: transparent;*/
	border-radius: 0px;
	text-decoration: none;
}

.btn.facebook {
	background-color: #3b5998;
	border-width: 0px;
}

.btn.login {
	background-color: #47a447;
	color: white;
}	

.btn.transparent {
	background-color: transparent;
	border: 2px solid white;
}

.btn.transparent:hover, .btn-success.btn-transparent:hover, .btn-active.btn-transparent:hover {
	background-color: transparent;	
}

.login-wrapper {

	padding: 30px;
	width: 100%;

	.login-header {
		width: 100%;
	}

	h3 {
		text-transform: uppercase;

	}
}

.form-group {
	input {
		border-radius: 0px;
		background: rgba(255, 255, 255, .2);
		border: 1px solid white;
		color: white;
		text-align: center;
	}
}
 /* white seemed a bit to bright to me
::-webkit-input-placeholder {
   color: #fff !important;
}

:-moz-placeholder { /* Firefox 18- /
   color: #fff !important;  
}

::-moz-placeholder {  /* Firefox 19+ /
   color: #fff !important;  
}

:-ms-input-placeholder {  
   color: #fff !important;  
}

input[placeholder], [placeholder], *[placeholder] {
color: white;
}
/*

input.password {
	letter-spacing: 6px;
}

.footer {
	text-align: center;
	border-top: 0px solid white;
	color: white;
	font-size: 8px;
	padding-top: 25px;

}


/* CSS transitions for page animations */

.container.page {
	position: absolute; 
	top:0;
	left:0;
	width: 100%;
/*	background-image: url('../images/login-bg-image.jpg');
	background-size: 306%;
	background-position: 57% 39%;
	background-size: 250%;
	background-position: 63% 0%;*/
}

.page.email-login, .page.registration {
	
	
	background: rgba(0, 0, 0, .45);
}

.page.ng-enter {
   /* -webkit-animation:slideInRight 0.7s both ease-in;
	-moz-animation:slideInRight 0.7s both ease-in;
	animation:slideInRight 0.7s both ease-in;  */

	   opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 0.5s;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 0.5s;
    animation:fadeIn ease-in 0.5s;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    animation-duration:0.5s;

}


.page.ng-leave { 
    -webkit-animation:slideOutLeft 0.3s both ease-in;
	-moz-animation:slideOutLeft 0.3s both ease-in;
	animation:slideOutLeft 0.3s both ease-in;  
}

.page.backswipe.ng-leave, .page.articlePage.ng-leave { 
    -webkit-animation:slideOutRight 0.3s both ease-in;
	-moz-animation:slideOutRight 0.3s both ease-in;
	animation:slideOutRight 0.3s both ease-in;  
}
/*
.login-home.ng-enter {  
    -webkit-animation:scaleUp 0.5s both ease-in;
	-moz-animation:scaleUp 0.5s both ease-in;
	animation:scaleUp 0.5s both ease-in;  
}

.login-home.ng-leave {  
    -webkit-animation:scaleDown 0.2s both ease-in;
	-moz-animation:scaleDown 0.2s both ease-in;
	animation:scaleDown 0.2s both ease-in;  
}

.login-email.ng-enter {
	-webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;
}

.login-email.ng-leave {  
   -webkit-animation:slideOutRight 0.5s both ease-in;
    -moz-animation:slideOutRight 0.5s both ease-in;
    animation:slideOutRight 0.5s both ease-in; 
}
*/

.page.ng-leave  { z-index:9999;}
.page.ng-enter  { z-index:8888;}

 
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}


/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.5; -webkit-transform: scale(0.1); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.5; -moz-transform: scale(0.1); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.5; -webkit-transform: scale(0.1); }
}



/* scale down */
@keyframes scaleDown {
	to 		{ opacity: 0.3; -webkit-transform: scale(0.9); }
}
@-moz-keyframes scaleDown {
	to 		{ opacity: 0.3; -moz-transform: scale(0.9); }
}
@-webkit-keyframes scaleDown {
	to 		{ opacity: 0.3; -webkit-transform: scale(0.9); }
}


/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(100%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(100%); }
    to      { -webkit-transform: translateX(0); }
}


/* slide out to the right */
@keyframes slideOutRight {
	from 	{ transform:translateX(0); }
	to 		{ transform: translateX(100%); }
}
@-moz-keyframes slideOutRight {
    from    { -moz-transform:translateX(0); }
    to      { -moz-transform: translateX(100%); }
}
@-webkit-keyframes slideOutRight {
    from    { -webkit-transform:translateX(0); }
    to      { -webkit-transform: translateX(100%); }
}



/* slide out to the left */
@keyframes slideOutLeft {
	from 	{ transform:translateX(0); }
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
    from    { -moz-transform:translateX(0); }
    to      { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
    from    { -webkit-transform:translateX(0); }
    to      { -webkit-transform: translateX(-100%); }
}


/*@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-100%); }
}*/


 








