            <!-- offcanvas menu -->
    <nav id="niiuAppmenu" ng-controller="GuestmenuCtrl">
      <ul class="mm-list mm-panel mm-opened mm-current">

        <li><a class="mHome" ng-href="#/userHome" ng-click="toggleMenu()" translate>menu_login_register</a></li>

        <li><a class="mFeedback" href="https://docs.google.com/forms/d/1RtuQyTzNAfQ3qfITBLl0ZdapHplZanxjF60fKfRInvU/viewform?entry.331930778&entry.1585641298&entry.383221606&entry.488870576&entry.75199030={{browser}}" target="_blank" translate>menu_feedback</a></li>
        
      </ul>

    </nav>

    



  <p class="errors" ng-show="error">{{error}}</p>



