  <ul class="nav nav-pills pull-right" ng-controller="loginmenuCtrl">
    <li class="active" ng-hide="niiuAuthenticator.isLoggedIn()"><a ng-href="#/emailLogin">Login</a></li>
    <li><a ng-href="#/registration" ng-hide="niiuAuthenticator.isLoggedIn()">Registration</a></li>
    <li><a href="" ng-show="user!=null" ng-click="logout()">Logout {{user.firstName}}</a></li>
  </ul>
  <h3 class="text-muted"><a ng-href="#/userHome">niiu webapp</a></h3>
  <div class="alert">  
  <p class="errors" ng-show="error"><strong>Warning!</strong>{{error}}<a class="close" data-dismiss="alert">×</a></p>
</div>



