  <ul class="nav nav-pills pull-right" ng-controller="usermenuCtrl">
    <li><a ng-href="#/customize" ng-show="user!=null">Settings</a></li>
    <li><a ng-href="#/userHome" ng-show="user!=null">Home</a></li>
    <li><a ng-href="#/customize" ng-show="user!=null">Customize</a></li>
    <li><a ng-href="#/sectionHome" ng-show="user!=null">Sections</a></li>
    <li><a ng-href="" ng-click="nextSection()" ng-show="user!=null">Next</a></li>
    <li><a href="" ng-show="user!=null" ng-click="logout()">Logout {{user.firstName}}</a></li>
  </ul>
  <p class="errors" ng-show="error">{{error}}</p>

