<html  lang="en" data-ng-app="angular-client-side-auth">
    <head>
        <title>Angular Auth Example</title>
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">
        <script type="text/javascript">
            if (window.location.href.indexOf('#_=_') > 0) {
                window.location = window.location.href.replace(/#.*/, '');
            }
        </script>
    </head>
    <body data-ng-cloak>



    </body>
    </html>
    <div class="navbar" data-ng-controller="NavCtrl">
        <div class="navbar-inner">
            <div class="container-fluid">
                <ul class="nav navtabs">
                    <li data-access-level="accessLevels.anon" active-nav><a href="/login"> Log In</a>
                    <li data-access-level="accessLevels.anon" active-nav><a href="/register"> Register</a>
                    <li data-access-level="accessLevels.user" active-nav><a href="/"> Home</a>
                    <li data-access-level="accessLevels.user" active-nav="nestedTop"><a href="/private"> Private</a> 
                    <li data-access-level="accessLevels.admin" active-nav><a href="/admin"> Admin</a>
                    <li data-access-level="accessLevels.user" active-nav><a href="" data-ng-click="logout()"> | Logout</a>
                </ul>
                <div id="userInfo" class="pull-right" data-access-level="accessLevels.user">
                    | Welcome&nbsp;
                            <strong> {{ user.username }}&nbsp; </strong>
                             <span class="label" data-ng-class='{"label-info": user.role.title == userRoles.user.title, "label-success": user.role.title == userRoles.admin.title}'> {{ user.role.title }}</span>
                </div>
            </div>
        </div>
    </div>
    <div data-ui-view class="container"></div>
    <div id="alertBox" data-ng-show="error" class="alert alert-danger">
        <button type="button" data-ng-click="error = null;" class="close">&times;</button>
        <strong>Oh no!&nbsp;</strong>
        <span data-ng-bind="error"></span>
    </div>
    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/js/routingConfig.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/filters.js"></script>
    <script src="/js/directives.js"></script>

    <!-- Partial views... Load up front to make transitions smoother-->
    <script type="text/ng-template" id="404" src="/views/partials/404.htm" ></script>
    <script type="text/ng-template" id="admin" src="/views/partials/admin.htm"></script>
    <script type="text/ng-template"  id="home"></script>
    <script type="text/ng-template" id="login"></script>
    <script type="text/ng-template" id="private/layout"></script>
    <script type="text/ng-template" id="private/home"></script>
    <script type="text/ng-template" id="private/nested"></script>
    <script type="text/ng-template" id="private/nestedAdmin"></script>
    <script type="text/ng-template" id="register"></script>


