<!doctype html>
<html ng-app="plunker" >
<head> 
  <meta charset="utf-8">
  <title>niuu WebApp</title>
    <script>//document.write('<base href="' + document.location + '" />');
    </script>
      <!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script-->
      <!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script-->

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.js"></script><script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-cookies.min.js"></script><script src="angular-ui-router.js"></script><script src="routingConfig.js"></script>
      <!--script type="text/javascript" src="ydn-db/jsc/ydn.db-dev.js"></script -->
      <script type="text/javascript" src="ydn.db-isw-sql.js"></script>
      <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="MainCtrl">
  <div id="fb-root"></div>
  
  <div class="ng-cloak" ng-show="user.connected">
  Hello {{user.first_name}}!


  </div>
  <textarea class="dataview">{{user}}</textarea>
  
  <div class="ng-cloak" ng-hide="user.connected">
    You should Log in...
    <fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
      
  </div> 
  
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script>
 
      FB.init({
      appId      : '642106902524261',     
      status     : true, 
      cookie     : true, // enable cookies to allow the server to access the session                             
      xfbml      : true 
    });



    </script>

    <div class="btn-group">
          <a class="btn btn-default" href="" data-ng-click="fb_login()" class="ng-cloak" ng-hide="user.connected">
              <i class="fa fa-facebook-square">
              |  Facebook</i></a>
          <a class="btn btn-default" href="" data-ng-click="fb_logout()" class="ng-cloak" ng-show="user.connected">
              <i class="fa fa-twitter">
              |  Logout</i></a>
          <a class="btn btn-default" href="" data-ng-click="loginOauth('twitter')">
              <i class="fa fa-twitter">
              |  Twitter</i></a>
          <a class="btn btn-default" href="" data-ng-click="whatScope()">
              <i class="fa fa-twitter">
              |  Scope</i></a>
          <a class="btn btn-default" href="" data-ng-click="db_check()">
              <i class="fa fa-twitter">
              |  DbCheckup</i></a>
          <a class="btn btn-default" href="" data-ng-click="db_clear()">
              <i class="fa fa-twitter">
              |  DbDrop</i></a>
      </div>

<h3>Login</h3>
  <form class="form-horizontal" ng-submit="niiu_login(niiuUserForm)" name="loginForm" role="form" style="margin-top:50px;">
    <div class="form-group">
        <label class="control-label col-sm-2" for="eMail"> Email Address</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" data-ng-model="niiuUserForm.eMail" placeholder="eMail" name="eMail" required autofocus />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="control-label col-sm-2">Password</label>
        <div class="col-sm-10">
            <input type="password" data-ng-model="niiuUserForm.password" placeholder="Password" name="password" required="" class="form-control ng-pristine ng-invalid ng-invalid-required">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label for="rememberme" class="checkbox">
                    <input type="checkbox" data-ng-model="niiuUserForm.rememberme" name="rememberme" class="ng-pristine ng-valid">Remember me
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" type="submit" data-ng-disabled="loginForm.$invalid"> Log in
        </div>
    </div>
</form>

<h3>Register</h3>
<form class="form-horizontal" ng-submit="niiu_register(niiuRegForm)" name="registerForm" role="form" style="margin-top:50px;">
    <div class="form-group">
        <label class="control-label col-sm-2" for="eMail"> Email Address</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" data-ng-model="niiuRegForm.eMail" placeholder="eMail" name="eMail" required autofocus />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="control-label col-sm-2">Password</label>
        <div class="col-sm-10">
            <input type="password" data-ng-model="niiuRegForm.password" placeholder="Password" name="password" required="" class="form-control ng-pristine ng-invalid ng-invalid-required">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" type="submit" data-ng-disabled="registerForm.$invalid"> Register
        </div>
    </div>
</form>

<h3>Forgot Password</h3>
<form class="form-horizontal" ng-submit="niiu_forgot(niiuForgotForm)" name="forgotForm" role="form" style="margin-top:50px;">
    <div class="form-group">
        <label class="control-label col-sm-2" for="eMail">Enter Your Email Address</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" data-ng-model="niiuForgotForm.eMail" placeholder="eMail" name="eMail" required autofocus />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" type="submit" data-ng-disabled="forgotForm.$invalid"> Reset Password
        </div>
    </div>
</form>

<div id="terms">
<p>By continuing to use you agree with our <a href="https://www.niiu.de/agb">Terms</a> and <a href="https://www.niiu.de/datenschutz">Privacy Policy</a></p>
</div>

</body>
</html>
