<!doctype html>
<html ng-app="plunker" >
<head> 
  <meta charset="utf-8">
  <title>AngularJS Plunker</title>
    <script>//document.write('<base href="' + document.location + '" />');
    </script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
      <!--script type="text/javascript" src="ydn.db-isw-crud.js"></script -->
      <script type="text/javascript" src="http://dev.yathit.com/jsc/ydn.db-dev.js"></script>
      <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="MainCtrl">
  <div id="fb-root"></div>
  
  <div class="ng-cloak" ng-show="user.connected">
  Hello {{user.first_name}}!


  </div>
  <textarea class="dataview">{{user}}</textarea>
  
  <div class="ng-cloak" ng-hide="user.connected">
    You should Log in...
    <!--fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button-->
      
  </div> 
  
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script>
 
      FB.init({
      appId      : '642106902524261',     
      status     : true, 
      cookie     : true, // enable cookies to allow the server to access the session                             
      xfbml      : true 
    });



    </script>

    <div class="btn-group">
          <a class="btn btn-default" href="" data-ng-click="fb_login()" class="ng-cloak" ng-hide="user.connected">
              <i class="fa fa-facebook-square">
              |  Facebook</i></a>
          <a class="btn btn-default" href="" data-ng-click="fb_logout()" class="ng-cloak" ng-show="user.connected">
              <i class="fa fa-twitter">
              |  Logout</i></a>
          <a class="btn btn-default" href="" data-ng-click="loginOauth('twitter')">
              <i class="fa fa-twitter">
              |  Twitter</i></a>
          <a class="btn btn-default" href="" data-ng-click="whatScope()">
              <i class="fa fa-twitter">
              |  Scope</i></a>
          <a class="btn btn-default" href="" data-ng-click="db_check()">
              <i class="fa fa-twitter">
              |  DbCheckup</i></a>
          <a class="btn btn-default" href="" data-ng-click="db_clear()">
              <i class="fa fa-twitter">
              |  DbDrop</i></a>
      </div>

</body>
</html>
