<div ng-include="layoutPartial('topBar')" ></div>




<div class="article_view row" ng-swipe-right="backSwipe()">
	<h3 >{{article.title}}</h3>
	<h4 ng-bind="article.subtitle | htmlToPlaintext" ng-show="article.subtitle!=null" />
</div>

	<div ng-controller="CarouselCtrl" class="row" >
	  <div>
	    <carousel interval="slide_interval"  id="niiuCarousel">
	      <slide ng-repeat="slide in slides" active="slide.active" class="slider">
	        <!--img ng-src="{{slide.imgUrl}}" style="margin:auto;height:305px;width:100%" -->
	        <img ng-src="{{slide.imgUrl}}" class="center-block imgSlide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" style="max-height:400px;" >
	        <div class="carousel-caption">  	
	        		
	          		<div ng-bind-html="slide.imgText" />
   
	        </div>
	      </slide>
	    </carousel>
	    </div>
	</div>
	<!--img src="{{media_path}}{{image.path}}"  ng-repeat="image in article.media" class="img-responsive" ng-show="$first" onError="this.onerror=null;this.src='/images/blank.png';" /-->

<div class="article_view row" style="" ng-swipe-right="backSwipe()">
	<div ng-bind-html="article.content"></div>
	<div class="col-xs-12 pull-right" ng-controller="ShareCtrl" ><a ng-click="fbShare(article.id,'{{article.title}}','{{article.subtitle|truncate : 100}}', 'http://core5.staticworld.net/images/article/2014/07/amazon_app_store-100355678-large.jpg')">share</a><p>

</div> khkjhmjbjbjkukhuhlkjh 
{{article.media.length}} images


