<div ng-include="layoutPartial('topBar')" ></div>

        <!-- Article Controls -->
        <div class="row articleControls" ng-controller="ShareCtrl" >
            <div class="col-xs-12">
              <div class="pull-right articleDate" ng-if="published_dateObj>0">{{published_dateObj | date:'yyyy-MM-dd'}}</div>
              <ul class="nav nav-pills">
                  <li><a href="" class="fav_btn"><span>Favourite</span></a></li>
                  <li class="dropdown" on-toggle="toggled(open)">
				      <a href class="dropdown-toggle share_btn"><span class="hideme">Share</span></a>
				      <ul class="dropdown-menu">
				        <li>
				          <a href=""  ng-click="fbShare(article.id,article.title,article.content, slides[0].imgUrl)" >Facebook Share</a>
				          <a href=""  ng-click="twitterShare(article.id,article.title,article.content)">Twitter Share</a>
				        </li>
				        <li><a  href="mailto:?subject={{article.title}} via niiu&body={{article.content | htmlToPlaintext | truncate: 100}} {{generateUrl(article.id)}}">
				        	Email Share
				        </a>
				      </ul>
				    
                  </li>

              </ul>
            </div>
        </div>

        <!-- Facebook Tags -->
        <meta property="og:title" content="{{article.title}}" />
		<meta property="og:image" content="{{slides[0].imgUrl}}" ng-if="slides[0]" />
		<meta property="og:description" content="{{article.subtitle | htmlToPlaintext | truncate : 100}}" ng-if="slides[0]" />

        <!-- Article Content -->
        <div class="row articleBody" ng-swipe-right="backSwipe()">
            <div class="col-xs-12">
                <div class="sourceTitle">
                  <h4 class="list-group-item-heading">{{article.title}}</h4>
					<p class="subheading" ng-bind="article.subtitle | htmlToPlaintext" ng-show="article.subtitle!=null" />
				</div>


					<div ng-controller="CarouselCtrl" class="row" disable-animation="true">
					  <div class="col-xs-12">
					    <carousel interval="slide_interval"  id="niiuCarousel"  >
					      <slide ng-repeat="slide in slides" active="slide.active" class="slider">
					        <!--img ng-src="{{slide.imgUrl}}" style="margin:auto;height:305px;width:100%" -->
					        <img ng-src="{{slide.imgUrl}}" onerror="this.src={{media_path}}{{slide.imgUrl}}"   class="img-responsive dark-shadow" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" >
					        <div class="carousel-caption">  	
					        		
					          		<!--div ng-bind-html="slide.imgText" / -->
				   
					        </div>
					      </slide>
					    </carousel>
					    </div>
					</div>
	<!--img src="{{media_path}}{{image.path}}"  ng-repeat="image in article.media" class="img-responsive" ng-show="$first" onError="this.onerror=null;this.src='/images/blank.png';" /-->

<div class="article_view articleBody" ng-swipe-right="backSwipe()">
	<div class="articletext" ng-bind-html="article.content"></div>
	

</div>

