


	<h2>Section Menu</h2>
	<br><br>

	<ul class="sections row">


		<li class="col-xs-12 col-md-6 col-lg-4" ng-repeat="niiu_section in menuObj">
		<h4>{{niiu_section.name}}</h4>

				<ol >
					<li ng-repeat="niiu_source in niiu_section.sources">
						{{niiu_source.name}} <span ng-hide="niiu_source.subsections"><a ng-href="" ng-click="addSection(niiu_section.id,niiu_source.id,null,null)">[ + ]</a></span>

						<ul>
							<li ng-repeat="niiu_subsection in niiu_source.subsections">
								{{niiu_subsection.name}} <a ng-href="" ng-click="addSection(niiu_section.id,niiu_source.id,niiu_subsection.id,null)">[ + ]</a>
							</li>
						</ul>



					</li>
				</ol>




		</li>
	</ul>
<hr>
<h2>Add Custom Section</h2>
    <input name="custom_section" ng-model="custom_section" placeholder="Enter a Custom Section">
    <button ng-click="addCustomSection()">Add Custom Section</button>



<hr>
<h2>Chosen Sections</h2>
<span class="error">{{error}}</span>
<ul class="sections row">
	<li class="col-6 col-sm-6 col-lg-4" ng-repeat="addSection in sectionsToAdd">
		<a class="btn btn-default" ng-href="" role="button" ng-click="removeSection(addSection.handle)" >{{addSection.name}} (remove)</a> 

	</li>

</ul>
<div>
	<button class="btn btn-lg white-headline transparent btn-success login" ng-click="syncSections(sectionsToAdd)"> Update Sections

</div>





