<div ng-include="layoutPartial('topBar')" ></div>

        <!-- Terms Content -->

<div class="col-xs-12 terms_view helpBody" ng-swipe-right="backSwipe()">
    <div class="helptext" >
	<h2 translate>header_help</h2>
	<ul class="unstyled">
		<li><a data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-default-mode="support" data-uv-primary-color="#00a650" data-uv-link-color="#007dbf" data-uv-forum-id="262282" data-uv-topic-id="59736" ng-href="javascript:void(0)">Contact Support</a></li>
		<li><a target="_blank" ng-href="https://niiu.uservoice.com/knowledgebase">F.A.Q.</a></li>
		<li><a target="_blank" ng-href="https://niiu.uservoice.com/forums/262282-web-app" translate>header_suggest</a></li>
		<li><a ng-href="#/privacyuser" translate>header_privacy</a></li>
		<li><a ng-href="#/termsuser" translate>header_terms</a></li>
	</ul>


	<!-- UserVoice JavaScript SDK (only needed once on a page) -->
	<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/w71DQQNDlDSRAoYauVMHg.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

    </div>
    

</div>









