<div ng-include="layoutPartial('topBar')" ></div>

        <!-- Terms Content -->

<div class="col-xs-12 terms_view helpBody" ng-swipe-right="backSwipe()">
    <div class="helptext" >
	<h2 translate>header_help</h2>
	<ul class="unstyled">
		<li><a id="helpContact" ng-href="">Contact Support</a></li>
		<li><a target="_blank" ng-href="https://niiu.uservoice.com/knowledgebase">F.A.Q.</a></li>
		<li><a target="_blank" ng-href="https://niiu.uservoice.com/forums/262282-web-app" translate>header_suggest</a></li>
		<li><a ng-href="#/privacyuser" translate>header_privacy</a></li>
		<li><a ng-href="#/termsuser" translate>header_terms</a></li>
	</ul>


           

    </div>
    

</div>









