
<div class="internal-page">

	<div class="jumbotron">
		<img class="butterfly" src="../images/whitelogo-schmetterling-transparent.png" alt="schmetterling">
	  <p>Start your day with <br><span class="heavier">customized news</span> just for you.</p>
	  <p class="lead">
	    Take a Tour >
	  </p>
	  <div class="btn-wrapper">
		  <p><a class="btn btn-lg btn-success facebook" data-ng-click="fb_login()">Log In with Facebook</a></p>
		  <p><a class="btn btn-lg btn-success login" href="#/emailLogin">Log In with Email</a></p>  	
	  </div>
	</div>

	<div class="footer">
	<p>By continuing you agree to our <a href="" ng-click="showModal('https://www.niiu.de/agb');">Terms</a> & <a href="https://www.niiu.de/datenschutz">Privacy Policy</a></p>
	</div>

	
</div>
