
<div class="internal-page text-center col-xs-4 col-xs-offset-4" ng-hide="noUser" translate>
	home_news_loading
</div>
<div class="internal-page" ng-show="noUser">

	<div class="jumbotron">
		<img class="butterfly" src="../images/whitelogo-schmetterling-transparent.png" alt="schmetterling">
	  <p>Start your day with <br><span class="heavier">customized news</span> just for you.</p>
	  <p class="lead">
	    Take a Tour >
	  </p>
	  <div class="btn-wrapper col-md-6 col-md-offset-3">
		  <p><a class="btn btn-lg white-headline btn-success facebook" ng-click="fb_login()">Log In with Facebook</a></p>
		  <p><a class="btn btn-lg white-headline transparent btn-success login" href="#/emailLogin">Log In with Email</a></p>  	
	  </div>
	</div>

	<div class="footer col-xs-12">
		<p>By continuing you agree to our <a href="" ng-href="#/terms">Terms</a> & <a ng-href="#/privacy">Privacy Policy.</a> <a data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-default-mode="support" data-uv-primary-color="#00a650" data-uv-link-color="#007dbf" data-uv-forum-id="262282" data-uv-topic-id="59736" href="javascript:void(0);">Need Help?</a></p>
	</div>

	
</div>
