
<div class="jumbotron">
  <h3>Start your day with customized news</h3>
  <p class="lead">
    Take a Tour >
  </p>
  <p><a class="btn btn-lg btn-success" data-ng-click="fb_login()">Log In with Facebook</a></p>
  <p><a class="btn btn-lg btn-success" data-ng-href="#/emailLogin">Log In with Email</a></p>
</div>

<div class="row marketing">

</div>

<div class="footer">
<p>By continuing to use you agree with our <a href="https://www.niiu.de/agb">Terms</a> and <a href="https://www.niiu.de/datenschutz">Privacy Policy</a></p>
</div>
