<div class="login-wrapper">

    <div class="login-header">
        <img class="butterfly center for-overlay" src="../images/whitelogo-schmetterling-transparent.png" alt="schmetterling">
        <p style="color: green; text-align: center; font-style: bold; font-size: 14px"> <- </p>        
        <h3 class="white-headline">Register to niiu</h3>
        <p class="subheading">Register a new account with email</p>    
    </div>

    <form class="form-horizontal  col-sm-10 col-sm-offset-1" ng-submit="niiu_register(niiuRegForm)" name="registerForm" role="form" style="margin-top:20px;">
        <div class="form-group">
            <!-- <label class="control-label col-sm-2" for="eMail"> Email Address</label> -->
            <div>
                <input class="form-control" type="text" data-ng-model="niiuRegForm.eMail" placeholder="someone@mail.com" name="eMail" required autofocus />
            </div>
        </div>
        <div class="form-group">
            <!-- <label for="password" class="control-label col-sm-2">Password</label> -->
            <div>
                <input type="password" data-ng-model="niiuRegForm.password" placeholder="***********" name="password" required="" class="password form-control ng-pristine ng-invalid ng-invalid-required">
            </div>
        </div>
        <div class="form-group">
            <div>
                <button class="btn btn-lg login white-headline" type="submit"> Register
            </div>
        </div>
    </form>


    <div class="footer row">
        <p>By continuing you agree to our <a href="" ng-href="#/terms">Terms</a> & <a ng-href="#/privacy">Privacy Policy.</a> <a data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-default-mode="support" data-uv-primary-color="#00a650" data-uv-link-color="#007dbf" data-uv-forum-id="262282" data-uv-topic-id="59736" href="javascript:void(0)">Need Help?</a></p>
    </div>

</div>