<p>This is the sectionHome view.</p>



	<p>Here are some articles from this section</p>

	<ul class="articles row">
		<li class="col-6 col-sm-6 col-lg-4" ng-repeat="article in articles">
			<div class="col-4 col-sm-5"> <h4>{{article.title}}</h4></div>
			<div class="col-2 col-sm-1"> <a class="btn" href="" ng-click="isArticleOpen = !isArticleOpen">Read More &raquo;</a></div>
			
			<!--a class="btn btn-default" href="#" role="button" ng-href="/article/{{article.id}}">Read more &raquo;</a-->

<div  ng-init="isArticleOpen = false" ng-show="isArticleOpen" id="article_{{article.id}}" >
	<div ng-bind-html="article.content"></div>
</div>



		</li>
	</ul>


