<h3><span ng-show="pageContent.source.logo!=null"><img src="{{logo_path}}{{pageContent.source.logo}}"  width="55"> </span><span translate>{{pageContent.title }}</span></h3>


	<ul class="articles row">
		<li ng-class="{'single col-12':!($index%3),'double col-xs-6':($index%3)}" ng-repeat="article in pageContent.articles" style="background-image:url('{{media_path}}{{article.media[0].path}}');">
			<a ng-href="#/article/{{article.id}}">
			<div class="col-8 col-sm-12"> <h4>{{article.title}}</h4></div>
			<div class="intro col-8 col-sm-12" ng-bind-html="article.content | truncate:150 | htmlToPlaintext"></div>
			<div class="col-8 col-sm-12">Read More &raquo;</div></a>
		</li>
	</ul>
