<!--top bar -->
<div ng-include="layoutPartial('topBar')" ></div>

 <div class="section_view" ng-swipe-left="nextSectionSwipe()" ng-swipe-right="previousSectionSwipe()" style="min-height:400px;">                

				


	<ul class="list-unstyled articles row">
		<li ng-class="{'single col-xs-12':($index%3===0),'double col-xs-6':!($index%3===0)}" ng-repeat="article in pageContent.articles | orderBy:'-published_date' track by article.id " style="background-image: linear-gradient(to bottom, rgba(62, 62, 64, 0.3), rgba(62, 62, 64, .9)), url('{{media_path}}{{article.media[0].path}}');">
			<a ng-href="#/article/{{article.id}}" class="articleLink">
			<div class="col-xs-12"><h4 class="articleTitle">{{article.title | truncate:80}}</h4></div>
			<div class="intro col-xs-12 articleText"><p><span ng-bind-html="article.content | truncate:120 | htmlToPlaintext" /> →</p></div>

		</li>
	</ul>

<!--
        <span  ng-class="{'row fullBox':($index%3===0),'row halfBox':!($index%3===0)}"  ng-repeat="article in pageContent.articles"  >
            <div ng-class="{'col-xs-12':($index%3===0),'col-xs-6':!($index%3===0)}">
              <a ng-href="#/article/{{article.id}}">
                <div class="sourceTitle">
                  <h4 class="list-group-item-heading">{{article.title}}</h4>
                  <p ng-bind-html="article.content | truncate:150 | htmlToPlaintext"></p>
                </div>
              </a>
            </div>
        </span>
-->



</div>