<h3>You're logged in {{user.firstName}}</h3>

<p>Welcome to the userHome view.</p>
<p>Since you are logged in you can also go to the <a ng-href="#/sectionHome">Section Home</a>





	<p>Here are your sections</p>
	<!--
	<div >{{user.contentProfile.items}}</div>
-->

	<ul class="sections row">
		<li class="col-6 col-sm-6 col-lg-4" ng-repeat="user_section in user.contentProfile.items">
			<a class="btn btn-default" href="#" role="button" ng-href="#/sectionHome/{{user_section.source}}/{{user_section.section}}/{{user_section.custom_section}}">
			<span class="user_source" ng-repeat="source in sources | filter: {'id':user_section.source}">{{source.name}}</span> <span class="user_section" ng-repeat="section in sections | filter:{'id' : user_section.section}">{{section.name}}</span>{{user_section.custom_section}}
			<!-- Source: {{user_section.source}} Section {{user_section.section}} --> >></a>
		</li>
	</ul>


	<p>here is a contentObject Test</p>
	<div ng:repeat="page in contentObject">
		<strong>{{page.source.name}} {{page.section.name}}  / {{page.source.id}} -
		{{page.custom_section.id}} -
		{{page.section.id}} -
		{{page.subsection.id}} -
		{{page.subsection.id}}</strong>
		<br>
		{{page.url}}
		<ul>
			<li ng:repeat="article in page.articles | orderBy:'-published_date' track by article.id ">
				<a ng-href="#/article/{{article.id}}">{{article.title}}</a>
			</li>
		</ul>

	</div>





	<p>Here are some articles for you</p>

	<ul class="articles row">
		<li class="col-xs-12 col-sm-6 col-6 btn btn-default" ng-repeat="article in articles | orderBy:'-published_date' track by article.id ">
			<div  class="article" style="background-image:url('{{media_path}}{{article.media[0].path}}');"> 
				<a ng-href="#/article/{{article.id}}">
				<h4>{{article.title}}</h4>  {{article.id}} - {{article.published_date}}
				<div ng-bind-html="article.subtitle | truncate:100"  class="article_truncated">{{article.content | truncate:100}}</div></a>
				<a class="btn" href="" ng-click="isArticleOpen = !isArticleOpen">Read More &raquo;</a></a>

					
			</div>
			
			<div class="col-12" ng-init="isArticleOpen = false" ng-show="isArticleOpen" id="article_{{article.id}}" >
			<!--a class="btn btn-default" href="#" role="button" ng-href="/article/{{article.id}}">Read more &raquo;</a-->


	
			</div>



		</li>
	</ul>

<!--
	<p>Here are all sections</p>

	<ul class="sections row">
		<li class="col-6 col-sm-6 col-lg-4" ng-repeat="niiu_section in sections">
			<a class="btn btn-default" href="#" role="button" ng-href="/section/{{niiu_section.id}}"><h5>{{niiu_section.name}}</h5></a>
		</li>
	</ul>
-->
