

	<div ng-controller="CarouselCtrl">
	  <div>
	    <carousel interval="slide_interval"  id="niiuCarousel" >
	      <slide ng-repeat="slide in slides" active="slide.active" class="slider">
	        <!--img ng-src="{{slide.imgUrl}}" style="margin:auto;height:305px;width:100%" -->
	        <img ng-src="{{slide.imgUrl}}" class="center-block imgSlide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" >
	        <div class="carousel-caption">
	        	
	        	
	        	<a href="{{slide.imgLink}}">	
	          		<h4>{{slide.imgTitle}}</h4>
	          	</a>
	          

	        </div>
	      </slide>
	    </carousel>
	    </div>
	</div>

	<!--top bar -->
	<div ng-include="layoutPartial('topBar')" ></div>


	<div class="front_view" ng-swipe-left="nextSectionSwipe()" ng-swipe-right="previousSectionSwipe()" >
	<!-- h3>{{ 'menu_titlepage' | translate}}</h3 -->

	<p class="btn btn-info" ng-hide="contentObject[0]">Please wait while we load your articles...</p>

	<ul class="articles">
		<li class="col-xs-12 col-sm-8 col-8 btn btn-default" ng-repeat="article in contentObject[0].articles | orderBy:'-published_date' track by article.id " ng-hide="$first">
			<div class="col-xs-2">
				<img src="{{getLogoPath(contentObject[$index].source.id)}}{{contentObject[$index].source.logo}}" width="46" height="46" /></div>
			<div  class="col-xs-10 article" style="background-image:url('{{media_path}}{{article.media[0].path}}');"> 
				<a ng-href="#/article/{{article.id}}">
				<div class="section_title">{{contentObject[$index].title }}</div>
				<h4 >{{article.title}}</h4>  {{article.id}} - {{article.published_date}}
				<div ng-bind-html="article.subtitle | truncate:100"  class="article_truncated">{{article.content | truncate:100}}</div></a>
				<a class="btn" href="" ng-click="isArticleOpen = !isArticleOpen">Read More &raquo;</a></a>

					
			</div>
			
			<div class="col-12" ng-init="isArticleOpen = false" ng-show="isArticleOpen" id="article_{{article.id}}" >
			<!--a class="btn btn-default" href="#" role="button" ng-href="/article/{{article.id}}">Read more &raquo;</a-->


	
			</div>



		</li>
	</ul>



	<h3 ng-show="contentObject[0]" translate>menu_sections</h3>

	<ul class="sections row">
		<li class="col-6 col-sm-6 col-lg-4" ng-repeat="user_section in contentObject">
			<a class="btn btn-default" href="#" role="button" ng-href="#/sectionView/{{$index}}" translate>
			{{user_section.title}}
			</a>
		</li>
	</ul>




	
	<div ng:repeat="page in contentObject">
		<strong>{{page.source.name}} {{page.section.name}}  {{page.subsection.name}}  / {{page.source.id}} -
		{{page.custom_section.id}} -
		{{page.section.id}} -
		{{page.subsection.id}} -
		{{page.subsection.id}}</strong>
		<br>
		{{page.url}}
		<ul>
			<li ng:repeat="article in page.articles | orderBy:'-published_date' track by article.id ">
				<a ng-href="#/article/{{article.id}}">{{article.title}}</a>
			</li>
		</ul>

	</div>

<!--
	<p>Here are all sections</p>

	<ul class="sections row">
		<li class="col-6 col-sm-6 col-lg-4" ng-repeat="niiu_section in sections">
			<a class="btn btn-default" href="#" role="button" ng-href="/section/{{niiu_section.id}}"><h5>{{niiu_section.name}}</h5></a>
		</li>
	</ul>
-->
</div>
