
	<div class="row {{pageClass}}">
		<!--top bar -->
	
	<!-- <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" ng-include="partials/usermenu.html"></div> -->

	<div ng-include="layoutPartial('topBar')"></div>


	<div ng-controller="CarouselCtrl" class="col-xs-12" >  
	    <carousel interval="slide_interval"  id="niiuCarousel" class="news-slider" disable-animation="true">
	      <slide ng-repeat="slide in slides" active="slide.active" class="slider" >
	      	
	      		<article>
		      		<div class="image-content"> <img ng-src="{{slide.imgUrl}}" class="center-block imgSlide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ></div>
	                <div class="text-content">
	                  <a href="{{slide.imgLink}}" ng-click="toggleMenu(false)">
		                  <label>{{slide.imgSection}}</label>
		                  <h2>{{slide.imgTitle | truncate : 90}}</h2>
	                  </a>
	                </div>
	                
	              </article>
	          


<!--
	        
	        <img ng-src="{{slide.imgUrl}}" class="center-block imgSlide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" >
	        <div class="carousel-caption">
	        	
	        	
	        	<a href="{{slide.imgLink}}">	
	          		<h4>{{slide.imgTitle}}</h4>
	          	</a>
	          

	        </div>
-->
	      </slide>
	    </carousel>
	    </div>
	</div>




	<div class="col-xs-12 mmenu" ng-swipe-left="nextSectionSwipe()" ng-swipe-right="previousSectionSwipe()" >
	<!-- h3>{{ 'menu_titlepage' | translate}}</h3 -->

	<ul class="list-unstyled">
		<li class="col-xs-12" ng-repeat="article in contentObject[0].articles | orderBy:'-published_date' track by article.id " >
			<div class="row">
				<a ng-href="#/article/{{article.id}}" ng-click="toggleMenu(false)" class="list-group-item clearfix">
				<figure class="pull-left newsSource">
					<img src="{{getLogoPath(1)}}{{article.source_logo}}" width="46" height="46" />
				</figure>
				<div  class="newsTitle" >
						<span class="label label-default label-subject">{{contentObject[article.sectionIndex].subject }}</span> 
						<h4 class="list-group-item-heading">{{article.title}}</h4>
					<!--div ng-bind-html="article.subtitle | truncate:100"  class="article_truncated">{{article.content | truncate:100}}</div-->

						
				</div>
				</a>
			</div>

		</li>
	</ul>





</div>











<div class="col-xs-12" style="margin-top:120px;" >
<alert ng-hide="contentObject[0]" type="info" ><span translate style="color:#3a87ad;">msg_wait</span></alert>
	
	


<!--

	
	<div ng:repeat="page in contentObject">
		<strong>{{page.source.name}} {{page.section.name}}  {{page.subsection.name}}  / {{page.source.id}} -
		{{page.custom_section.id}} -
		{{page.section.id}} -
		{{page.subsection.id}} -
		{{page.subsection.id}}</strong>
		<br>
		{{page.url}}
		<ul>
			<li ng:repeat="article in page.articles | orderBy:'-published_date' track by article.id ">
				<a ng-href="#/article/{{article.id}}">{{article.title}}</a>
			</li>
		</ul>

	</div>

<!--
	<p>Here are all sections</p>

	<ul class="sections row">
		<li class="col-6 col-sm-6 col-lg-4" ng-repeat="niiu_section in sections">
			<a class="btn btn-default" href="#" role="button" ng-href="/section/{{niiu_section.id}}"><h5>{{niiu_section.name}}</h5></a>
		</li>
	</ul>
-->
</div>



